/* Box Model Hack */
* {
     box-sizing: border-box;
   }
   
   /* Clear fix hack */
   .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
   }
   
   .clear {
       clear: both;
   }
   
   /******************************************
   /* BASE STYLES
   /*******************************************/
   

   
   body {
     display: flex;
     flex-flow: row wrap;
     margin: 0px;
   }
   
   
   /******************************************
   /* LAYOUT
   /*******************************************/
   li {
     list-style: none;
   }
 a{   
     color: black;
     text-decoration: none;
   }
   /* header-----------------------------------------------*/
header {  
     width: 100%;
     
   }
 
nav  ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap:  0px;
      align-items: baseline;
      list-style: none;
      margin: 0px;
    background-color: lightsalmon;
    }
   /*SECTION .ONE-------------------------------------------------------------------------  */
  .one{
    background-image: url('imgs/s.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 190vh; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.one>section:first-child{
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif ;
  font-weight: bold;
  text-align: center;
}
.one .popup{
border: 2px solid brown;
color: azure;
background-color: black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
align-self: flex-start;
margin-right: 10px;
}
.one a{
  color: #358d29;
  font-size: x-large;
}
.popup a{
  color: blueviolet;
}
.popup , .one a:hover{
  color: rgb(247, 14, 26);
}

  


   /* SECTION .THREE-------------------------------------------------------------- */
   .three{
    display: flex;
    flex-flow: row nowrap;
  }
   /*SECTION .FINAL------------------------------------------------------------------------  */
 .final{
  background-color: #e6dede;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-around;
 }
 #finalOne{
  width: 50%;
  text-align: center;
  align-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-weight:bold ;
font-display:swap ;

 }
 .final img{
align-self: flex-end;
width: 50%;
 }
 


   
   
   /******************************************
   /* ADDITIONAL STYLES
   /*******************************************/
   @media all and (max-width:850px){
     .three ul{
       background-color: green;
       flex-wrap: wrap;
     }
   }
/* Box Model Hack */
* {
     box-sizing: border-box;
   }
   
   /* Clear fix hack */
   .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
   }
   
   .clear {
       clear: both;
   }
   
   /******************************************
   /* BASE STYLES
   /*******************************************/
   

   
   body {
     display: flex;
     flex-flow: row wrap;
   }
   
   
   /******************************************
   /* LAYOUT
   /*******************************************/
   li {
     list-style: none;
   }
 a{   
     color: black;
     text-decoration: none;
   }
   a:hover{
    color: brown;
   }
   /* header-----------------------------------------------*/
header {  
     width: 100%;
     
   }
 
nav  ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 5px;
      align-items: baseline;
      list-style: none;
    }
   /*SECTION .ONE-------------------------------------------------------------------------  */
  .one{
    background-image: url('imgs/s.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 190vh; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.one>section:first-child{
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif ;
  font-weight: bold;
  text-align: center;
}
.one .popup{
border: 2px solid brown;
color: azure;
background-color: black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
align-self: flex-start;
margin-right: 10px;
}
.one a{
  color: #358d29;
  font-size: x-large;
}
.popup a{
  color: blueviolet;
}
.popup , .one a:hover{
  color: rgb(247, 14, 26);
}

  


   /* SECTION .THREE-------------------------------------------------------------- */
   .three{
    display: flex;
    flex-flow: row nowrap;
  }
  #secondParagraph{
    border-left: 1px solid black;
    padding: 0 10px;
  }
  #thirdParagraph{
   border-left: 1px solid black;
   padding: 0 10px;
  }
   /*SECTION .FINAL------------------------------------------------------------------------  */
 .final{
  background-color: #e6dede;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-around;
 }
 #finalOne{
  width: 50%;
  text-align: center;
  align-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-weight:bold ;
font-display:swap ;

 }
 .final img{
align-self: flex-end;
width: 50%;
 }
 


   
   
   /******************************************
   /* ADDITIONAL STYLES
   /*******************************************/
   @media all and (max-width:850px){
     .three ul{
       background-color: green;
       flex-wrap: wrap;
     }
   }